<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Assem1.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.194908135350311 -0.666317285120584 0.425266079442174"
        rpy="0 0 0" />
      <mass
        value="0.347357940991766" />
      <inertia
        ixx="0.000963990016503346"
        ixy="-4.85815214750057E-07"
        ixz="3.24434376488303E-08"
        iyy="0.000949739993207119"
        iyz="8.80313108208101E-07"
        izz="0.00188042300575917" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-0.000424631541026121 -0.00662840829546674 0.0313381598564763"
        rpy="0 0 0" />
      <mass
        value="0.0769816626073787" />
      <inertia
        ixx="2.52613157758785E-05"
        ixy="-1.50928884930792E-11"
        ixz="-8.80579104559078E-07"
        iyy="3.05117113102422E-05"
        iyz="-1.06200599549108E-08"
        izz="1.79525957156044E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1.SLDASM/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1.SLDASM/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0.19485 -0.31815 -0.6505"
      rpy="1.5708 0.0042157 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="-3.74878474962426E-06 0.11516179823634 0.0169905434542475"
        rpy="0 0 0" />
      <mass
        value="0.107043419511333" />
      <inertia
        ixx="0.00011579075433167"
        ixy="1.7541631424572E-08"
        ixz="1.4488206425058E-11"
        iyy="2.27095900581174E-05"
        iyz="-8.80581745406886E-07"
        izz="0.000116463673441361" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1.SLDASM/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1.SLDASM/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 -0.0069993 0.014"
      rpy="-1.5708 0.03392 1.5708" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="3.15944264361878E-08 0.0794658417352812 0.00614139745848524"
        rpy="0 0 0" />
      <mass
        value="0.0456376345181192" />
      <inertia
        ixx="0.000143599720164531"
        ixy="3.85932705903103E-15"
        ixz="-2.9617484730104E-13"
        iyy="7.35170888331008E-06"
        iyz="-8.71268304945591E-16"
        izz="0.000150764802481037" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1.SLDASM/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1.SLDASM/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0 0.15688 0.035322"
      rpy="0 0 -1.559" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>